.primaryButton {
	background: $light-gray-color;
	border-radius: 40px;
	border: none;

	font-family: "Nasalization";
	font-size: 1.25rem;
	padding: 22px 44px;

	color: $salmon-color;
	cursor: pointer;
}

.primaryButton:hover {
	background: #e4e4e4;
	transition: 0.5s;
}

.primaryButton:not(hover) {
	background: $light-gray-color;
	transition: 0.5s;
}

@media only screen and (max-width: 480px) {
	.primaryButton {
		margin: 0 auto;
		display: block;
		font-size: 1.16rem;
	}
}
