// Text And Image Box
.textAndImageBox {
	display: flex;
	margin-top: 2.45rem;
	margin-bottom: 1rem;
}


// Primary Button
.primaryButton {
	background: #f2f2f2;
	border-radius: 40px;
	border: none;

	font-family: "Nasalization";
	font-size: 1.25rem;
	padding: 22px 44px;

	color: #f21d44;
	cursor: pointer;
}

.primaryButton:hover {
	background: #e4e4e4;
	transition: 0.5s;
}

.primaryButton:not(hover) {
	background: #f2f2f2;
	transition: 0.5s;
}

// Media Queries
@media only screen and (max-width: 480px) {
	// Primary Button
	.primaryButton {
		margin: 0 auto;
		display: block;
		font-size: 1.16rem;
	}
}