@import "common.scss";

.titleCopy {
	color: #0678BF;
}

.contentBlock {
	padding-bottom: 2rem;
}

// Primary Button
.primaryButton {
	background: #f2f2f2;
	border-radius: 40px;
	border: none;

	font-family: "Nasalization";
	font-size: 1.25rem;
	padding: 22px 44px;

	color: #f21d44;
	cursor: pointer;
}

.primaryButton:hover {
	background: #e4e4e4;
	transition: 0.5s;
}

.primaryButton:not(hover) {
	background: #f2f2f2;
	transition: 0.5s;
}

// Blog Content
.textAndImageBox--blogHeader {
	@extend .textAndImageBox;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid black;
}

.blogContent {
	padding: 0 0.5rem;
}

// Person Content
.textAndImageBox--person {
	@extend .textAndImageBox;
	justify-content: space-between;
	align-items: flex-start;
}

.personImage {
	border: 5px double #f2f2f2;
	padding: 1.25rem;

	width: 34%;
	min-height: 280px;
	text-align: center;
}

.personTextContainer {
	width: 56%;
}

.personTextTitle {
	margin-bottom: 0.8rem;
}

// Home Welcome Screen
.homeWelcomeScreen {
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

// Media Queries
@media only screen and (max-width: 480px) {
	.contentBlockFooter {
		margin-top: 2.45rem;
	}

	// Primary Button
	.primaryButton {
		margin: 0 auto;
		display: block;
		font-size: 1.16rem;
	}
	
	// Person Content
	.personImage {
		width: 40%;
		min-height: 140px;
	}

	.personText {
		width: 56%;
	}

	// Blog Content
	.blogContent {
		padding: 0 0.25rem;
	}
}
